<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<button type="button" class="btn btn-dark">btn btn-dark</button>
<button type="submit" class="btn btn-danger">btn btn-danger</button>
<button type="reset" class="btn btn-primary">btn btn-primary</button>
<button type="button" class="btn btn-secondry">btn btn-secondry</button>
<button type="button" class="btn btn-success">btn btn-success</button>
<button type="button" class="btn btn-warning">btn btn-warning</button>
<button type="button" class="btn btn-light">btn btn-light</button>
<button type="button" class="btn btn-info">btn btn-info</button>
<button type="button" class="btn btn-link">btn btn-link</button>
<button type="button" class="btn btn-warning btn-outline-success">btn btn-warning btn-outline-success</button>
<button type="button" class="btn btn-default btn-lg">btn btn-default btn-lg</button>
<button type="button" class="btn btn-default btn-md">btn btn-default btn-md</button>
<button type="button" class="btn btn-default btn-sm">btn btn-default btn-sm</button>
<button type="button" class="btn btn-default btn-xs">btn btn-default btn-xs</button>
<button type="button" class="btn btn-default btn-lg btn-block">btn btn-default btn-lg btn-block</button>
<button type="button" class="btn btn-default btn-lg active">btn btn-default btn-lg active</button>
<button type="button" class="btn btn-default btn-lg disabled">btn btn-default btn-lg disabled</button>
<a href="google.com" class="btn-danger">Google</a>
<input type="text" placeholder="Enter Your Name" class="btn-success">

</body>
</html>